
.input {
    margin: 0 auto;
    display: flex;
    /* text-align: center;
    justify-content: space-between; */
    margin-top: 50px;
    background-color: rgb(84, 81, 81);
    padding: 5px;
    border-radius: 13px;
    border-width: 2px;
    width: 400px;
    align-items: center;
}

.style {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
}